
<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @job.body %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @job.user.email %>
</p>
<% if user_signed_in? %>
<!--   <p> <button onclick= " should call method to toggle the applied boolean so we know that this user applied for this position" > Apply for this position </button> </p> -->
<%end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
